
<% if (rol == "ADMIN") { %>
    <%- include('./partials/_header'); %>
<% } %>

<% if (rol == "COORDINADOR") { %>
    <%- include('./partials/_header_coordinador'); %>
<% } %>

<h1>DASBOARD</h1>

<%- include('./partials/_footer'); %>